# Dependency folders
venv/
__pycache__/

# Docker files
*.log
docker-compose.override.yml

# Persistent data volumes (DO NOT PUSH THESE)
prometheus_data/
grafana_data/

# RSA Keys (SECURITY - DO NOT PUSH)
rsa_key.p8
rsa_key.pub
*.p8
*.pem