version: '3.8'
networks:
  monitoring:
    driver: bridge
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9080:9080"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles
    restart: unless-stopped
    networks:
      - monitoring
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_PROMETHEUS_URL=http://prometheus:9090
    restart: unless-stopped
    networks:
      - monitoring
    depends_on:
      - prometheus
  binance-exporter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: binance-exporter
    # The internal port 9898 is exposed for Prometheus to scrape
    ports:
      - "9890:9890" # BTC Exporter
      - "9894:9894" # ETH Exporter
      - "9892:9892" # BNB Exporter
      - "9896:9896" # SOL Exporter
      - "9898:9898" # XRP Exporter
    restart: unless-stopped
    networks:
      - monitoring
    depends_on:
      - prometheus
volumes:
  prometheus_data:
    driver: local
  grafana_data:
    driver: local
